
.idea/*

data/navicat/id_cache.db
data/navicat/id_cache.db-shm
data/navicat/id_cache.db-wal

__pycache__/config.cpython-310.pyc

**.pyc
*.log
*.pot
*.pyc
/*/pycache/
/pycache/
*/pycache/

data/output/*